<p-card class="w-12 h-full">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between flex-wrap">
      <h3 class="ml-4">
        Registro de Productos
      </h3>
      <div class="mt-2 mr-2">
        <a
          pButton
          pRipple
          label="Crear Producto"
          icon="pi pi-user-plus"
          class="menu-button"
          [routerLink]="['/productos/nuevo']">
        </a>
      </div>
    </div>
  </ng-template>
  <div class="table-container">
    <p-table [value]="productos">
      <ng-template pTemplate="header">
        <tr class="table-header">
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Empleado</th>
          <th>Proveedor</th>
          <th>Categoría</th>
          <th>Tipo de Producto</th>
          <th>Detalle de Producto</th>
          <th class="flex justify-content-center flex-wrap">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
        <tr class="table-row">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.id_empleado }}</td>
          <td>{{ producto.id_proveedor }}</td>
          <td>{{ producto.id_categoria }}</td>
          <td>{{ producto.id_tipoProducto }}</td>
          <td>{{ producto.id_detalleProducto }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-print"
              class="menu-button mr-1">
            </button>
            <a
              pButton
              pRipple
              icon="pi pi-sync"
              class="menu-button bg-warning mr-1"
              [routerLink]="['/productos/edit', producto.id_detalleProducto]">
            </a>
            <button
              pButton
              pRipple
              icon="pi pi-eraser"
              class="menu-button bg-danger mr-1"
              (click)="eliminar(producto.id_detalleProducto)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
