<div class="aside-container">
    <p-card header="Create Product Detail" [style]="{ width: '100%' }">
      <ng-template pTemplate="header">
        <!-- You can add additional content in the header if necessary -->
      </ng-template>
      <div>
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
          <div class="grid">
            <div class="col-12">
              <div class="p-inputgroup mb-1">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-left"></i></span>
                  <textarea class="w-12" rows="4" pInputTextarea formControlName="description" placeholder="Description" title="Description"></textarea>
              </div>
          </div>
  
            <div class="col-12 sm:col-6">
              <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
                <input class="w-12" type="text" pInputText formControlName="value" placeholder="Value" title="Value">
              </div>
            </div>
          </div>
  
          <div class="grid">
            <div class="col-12 sm:col-6">
              <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
                <input class="w-12" type="text" pInputText formControlName="isbn" placeholder="ISBN" title="ISBN">
              </div>
            </div>
          </div>
  
          <div class="flex justify-content-center flex-wrap">
            <button 
              pButton 
              pRipple
              label="Save"
              icon="pi pi-save"
              severity="info"
              class="menu-button mr-4"
              type="submit"
            ></button>
  
            <button 
              pButton 
              pRipple
              label="Cancel"
              icon="pi pi-times-circle"
              severity="warning"
              class="menu-button mr-4"
              type="button"
              (click)="cancel()"
            ></button>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <!-- You can add additional content in the footer if necessary -->
      </ng-template>
    </p-card>
  </div>

