<p-card class="w-12 h-full">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between flex-wrap">
      <h3 class="ml-4">
        Registro de Detalle de Productos
      </h3>
      <div class="mt-2 mr-2">
        <a
          pButton
          pRipple
          label="Crear Detalle de Producto"
          icon="pi pi-user-plus"
          class="menu-button"
          [routerLink]="['/detalleProductos/nuevo']">
        </a>
      </div>
    </div>
  </ng-template>
  <div class="table-container">
    <p-table [value]="detalleProductos">
      <ng-template pTemplate="header">
        <tr class="table-header">
          <th>Descripción</th>
          <th>Valor</th>
          <th>ISBN</th>
          <th class="flex justify-content-center flex-wrap">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-detalleProducto>
        <tr class="table-row">
          <td>{{ detalleProducto.descripcion }}</td>
          <td>{{ detalleProducto.valor }}</td>
          <td>{{ detalleProducto.isbn }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-print"
              class="menu-button mr-1">
            </button>
            <a
              pButton
              pRipple
              icon="pi pi-sync"
              class="menu-button bg-warning mr-1"
              [routerLink]="['/detalleProductos/edit', detalleProducto.id]">
            </a>
            <button
              pButton
              pRipple
              icon="pi pi-eraser"
              class="menu-button bg-danger mr-1"
              (click)="eliminar(detalleProducto.id)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
