<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Registro de Tipo de Productos
            </h3>
            <div class="mt-2 mr-2">
                <a
                    pButton
                    pRipple
                    label="Crear Tipo de Productos"
                    icon="pi pi-user-plus"
                    class="menu-button"
                    [routerLink]="['/tipoProductos/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>
    <div class="table-container">
        <p-table [value]="tipoProductos">
            <ng-template pTemplate="header">
                <tr class="table-header">
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tipoProductos>
                <tr class="table-row">
                    <td>{{ tipoProductos.nombre }}</td>
                    <td>{{ tipoProductos.descripcion }}</td>
                    <td>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-print"
                            class="menu-button mr-1">
                        </button>
                        <a
                            pButton
                            pRipple
                            icon="pi pi-sync"
                            class="menu-button bg-warning mr-1"
                            [routerLink]="['/tipoProductos/edit', tipoProductos.id]">
                        </a>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-eraser"
                            class="menu-button bg-danger mr-1"
                            (click)="eliminar(tipoProductos.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>


